@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(54, 54, 54);
}

.container {
    background-color: #ebebeb;
    /* height: 200vh; */
    display: flex;
    width: 104.8rem;
}


.small_icons img {
    height: 2.8rem;
    /* height: 5vh; */
    margin: 1rem 0.5rem;
}

.small_icons img:hover+.hover_text_left-bar {
    display: block;
    margin: -11px 0px;
}

#left-bar {
    /* background-color: gray; */
    width: 4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0vh;
    margin-left: 0.5rem;
}

#left-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    height: 80vh;
    /* position: sticky;
    top: 8vh; */
}

.hover_text_left-bar {
    /* border: 2px solid red; */
    display: none;
    background-color: #363636;
    color: white;
    position: relative;
    top: -1rem;
    left: 3.2rem;
    width: max-content;
    padding: 0.25rem 0.75rem;
    border-radius: 0px 4px 4px 4px;
}

.hover_text_left-bar::before {
    content: " ";
    position: absolute;
    top: 0rem;
    /* width: 2rem; */
    left: -0.4rem;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #363636;
}

#logo img {
    height: 5.6rem;
    margin-left: -1.8vh;
    transition: 0.5s ease;
}

#logo img:hover {
    filter: contrast(0.6);
    transform: scale(1.2);
    /* box-shadow: 2px 2px 4px rgba(0,0,0,0.6); */
}


#right-bar {
    position: sticky;
    float: right;
    right: 0vw;
    top: 8vh;
    width: 4rem;
    height: 100%;
    /* background-color: grey; */
}

#right-bar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: green; */
    height: 80vh;
    position: sticky;
    top: 8vh;
}

.contact_icon{
    /* background-color: red; */
    filter: contrast(0.5);
    height: 3rem;
}

.contact_icon:hover {
    /* background-color: red; */
    filter: contrast(1);
}

#right_resume {
    display: none;
}


#main {
    display: flex;
    flex-direction: column;
    margin-top: -1.625rem;
}


.theme_changer{
    /* border: 1px solid red; */
    width: 4rem;
    position: absolute;
    top: 2vh;
    right: 2vw;
    cursor: pointer;
}
.theme_changer::before{
    content: " ";
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(/moon.png);
}
.dark_theme_changer{
    /* border: 1px solid red; */
    width: 4rem;
    position: absolute;
    top: 2vh;
    right: 2vw;
    cursor: pointer;
}
.dark_theme_changer:hover{
    filter:brightness(2);
}
.dark_theme_changer::before{
    content: " ";
    height: 2rem;
    width: 2rem;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url(/sun.png);
    filter: invert(0.7);
}

.dark_container{
    /* background-color: #4c4f65; */
    background-color: #1c1d25;
}

.dark_main_name{
    color: red;
}

.dark_dtls{
    position: relative;
}

.dark_dtls::after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    height: 100%;
    width: 100%;
    /* background-color: #4c4f65; */
    background-color: #1c1d25;
    /* background-color: black; */
    /* opacity: 0.4; */
    border-left: 2px solid red;
    animation: typing 1.6s steps(16) infinite;
}

.dark_contact_icon{
    /* background-color: red; */
    filter: invert(1) contrast(0.3);
    height: 3rem;
}

.dark_contact_icon:hover {
    /* background-color: red; */
    filter: invert(1) contrast(1);
}


#clock {
    /* border: 2px solid blue; */
    position: sticky;
    top: 2vh;
    margin-left: 93rem;
    letter-spacing: 0.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}


#centre {
    display: flex;
    /* background-color: fuchsia;      */
    height: 100%;
    width: 99.5rem;
}

#content {
    /* background-color: fuchsia;      */
    /* height: 100vh; */
    width: 95rem;
    /* padding: 24px; */
    position: relative;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

#content::-webkit-scrollbar {
    display: none;
}


.page {
    /* border-top: 2px solid #6665ee; */
    border-top: 2px solid #0080ff;
    height: 50rem;
    width: 88rem;
    /* border: 2px solid black; */
    margin: 0 3rem;
    padding: 2.5rem;
    scroll-snap-align: start;
    /* width: 100%; */
}

.page h1 {
    /* margin-left: 24vw; */
    text-align: center;
    margin-bottom: 24px;
    font-size: 48px;
    letter-spacing: 4px;
    font-family: 'Orbitron';
    color: #4c4f65;
}


#landing_page {
    /* height: 100vh; */
    /* border: 2px solid blue; */
}

#landing_page::before {
    content: "";
    height: 720px;
    width: 720px;
    top: -2rem;
    left: 8.5rem;
    background-image: url(BD_logo_dark_bluish_gradient_720p.png);
    position: absolute;
    opacity: 0.9;
}

#main_name {
    color: #4c4f65;
    /* color: #0080ff; */
    text-align: center;
    /* border: 2px solid red; */
    /* font-size: 7.5vh; */
    font-size: 60px;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    /* margin-top: 8vh; */
    /* margin-left: 23.5vw; */
    top: 18.8rem;
    left: 26.2rem;
    position: absolute;
}

#description {
    color: #4c4f65;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
    font-size: 28px;
    width: 40rem;
    position: absolute;
    top: 34rem;
    left: 46rem;
    /* border: 2px solid red; */
}

#typing_text {
    position: absolute;
    top: 34rem;
    left: 48rem;
    font-family: 'Poppins', sans-serif;
    display: inline-flex;
}

#static_text {
    color: #4c4f65;
    font-size: 32px;
    font-weight: 600;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
}

#dynamic_text {
    margin-left: 16px;
    height: 41px;
    line-height: 41px;
    position: relative;
    top: 4px;
    overflow: hidden;
    /* background-color: red; */
}

#dynamic_text li {
    /* color: red; */
    /* color: #4c4f65; */
    /* color: #ff2122; */
    /* color: #6665ee; */
    color: #0080ff;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
    font-size: 30px;
    font-weight: 600;
    list-style: none;
    position: relative;
    top: 0px;
    animation: slide 9.6s steps(6) infinite;
}

@keyframes slide {
    100% {
        top: -255px;
    }
}

.dtls {
    position: relative;
}

.dtls::after {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    height: 100%;
    width: 100%;
    /* padding: 20px 0; */
    background-color: #ebebeb;
    /* background-color: black; */
    /* opacity: 0.4; */
    border-left: 2px solid red;
    /* border: 2px solid red; */
    animation: typing 1.6s steps(16) infinite;
}

@keyframes typing {
    100% {
        left: 112%;
        margin: 0 -8px 0 8px;
    }
}

#student_detaill {
    top: 36rem;
    left: 36rem;
    position: relative;
    /* border: 2px solid black; */
    width: 60%;
    font-size: 32px;
    color: #4c4f65;
    font-family: LibreBaskerville-Regular, Palatino Linotype, Times New Roman, serif;
}

#landing_page h3 a {
    /* color: #4c4f65; */
    /* color: #6665ee; */
    color: #0080ff;
}

#landing_page h3 a:hover::before {
    content: ' ';
    position: absolute;
    top: -9rem;
    left: 30rem;
    width: 12rem;
    height: 8rem;
    background-image: url(/NITRR.jpg);
    background-size: cover;
    border: 2px solid #6665ee;
}

#skills {
    height: fit-content;
}

#skills_container {
    display: flex;
    /* height: 68vh; */
    font-family: 'Poppins', sans-serif;
}

.skillset {
    /* border: 2px solid red; */
    width: 28rem;
    /* height: 24vh; */
}

.skillset h2 {
    text-align: center;
    /* padding-top: 24px; */
    padding-bottom: 12px;
    border-bottom: 2px solid #4c4f65;
    width: 16rem;
    margin: 28px auto;
    font-size: 32px;
}

.skillset div {
    padding: 2px 36px;
}

.skillset div h4 {
    margin: 12px 16px;
    font-size: 20px;
}

.bar {
    border: 1px solid rgba(0, 0, 0, 0.256);
    height: 10px;
    width: 100%;
    margin-bottom: 32px;
    border-radius: 10px;
    background: #f0f0f0;
    position: relative;
    transform-origin: left;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
        0 1px rgba(255, 255, 255, 0.8);
}

.bar span {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    transform-origin: left;
    /* background: #6665ee; */
    background: #0080ff;
    /* transform: scaleX(0); */
    /* animation: skill_bar 1s linear forwards; */
}

/* @keyframes skill_bar {
    100%{
    transform: scaleX(1);
    }
} */
.bar span:hover::after,
.bar span:hover::before {
    /* border: 2px solid red; */
    display: block;
}

.bar span::before {
    content: " ";
    position: absolute;
    top: -8px;
    right: 2px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: black;
    display: none;
}

.bar span::after {
    position: absolute;
    top: -28px;
    right: 2px;
    background-color: black;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    display: none;
}

#solidworks {
    width: 80%;
}

#solidworks::after {
    content: "80%";
}

#ansys {
    width: 75%;
}

#ansys::after {
    content: "75%";
}

#html {
    width: 90%;
}

#html::after {
    content: "90%";
}

#css {
    width: 70%;
}

#css::after {
    content: "70%";
}

#javascript {
    width: 40%;
}

#javascript::after {
    content: "40%";
}

#node_js {
    width: 25%;
}

#node_js::after {
    content: "25%";
}

#angular_mongodb {
    width: 30%;
}

#angular_mongodb::after {
    content: "30%";
}

#python {
    width: 50%;
}

#python::after {
    content: "50%";
}

#cpp {
    width: 95%;
}

#cpp::after {
    content: "95%";
}

#aftereffects {
    width: 90%;
}

#aftereffects::after {
    content: "90%";
}

#photoshop {
    width: 60%;
}

#photoshop::after {
    content: "60%";
}

#premiere_pro {
    width: 70%;
}

#premiere_pro::after {
    content: "70%";
}

#picsart {
    width: 95%;
}

#picsart::after {
    content: "95%";
}

#japanese {
    width: 40%;
}

#japanese::after {
    content: "40%";
}


.division {
    width: 8px;
    background-color: #4c4f65;
    height: 40rem;
    margin-top: 1rem;
    border-radius: 8px;
}

#programming div h4 {
    margin: 12px 2rem;
}

#project_container {
    /* border: 2px solid orange; */
    display: flex;
    height: 42rem;
    /* flex-direction: row; */
    overflow: auto;
    /* flex-wrap: wrap; */
}

#project_container::-webkit-scrollbar {
    display: none;
}

#leftfader {
    content: "";
    position: absolute;
    top: 212rem;
    left: 5vw;
    /* border: 2px solid red; */
    background-image: linear-gradient(to right, rgb(235, 235, 235), rgb(235, 235, 235, 0));
    width: 1vw;
    height: 82vh;
    z-index: 2;
}

#rightfader {
    content: "";
    position: absolute;
    top: 212rem;
    right: 6vw;
    /* border: 2px solid red; */
    background-image: linear-gradient(to right, rgb(235, 235, 235, 0), rgb(235, 235, 235));
    width: 1vw;
    height: 82vh;
    z-index: 2;
}

.project_card {
    flex: none;
    width: 24rem;
    height: 32rem;
    /* height: 26rem; */
    /* align-content: space-evenly; */
    /* border: 2px solid black; */
    margin: 64px 40px;
    border-radius: 24px;
    padding: 16px;
    background-color: #bcbcbc;
    /* background-color: #9a9a9a; */
    /* background-color: #6665ee; */
    box-shadow: 4px 6px 10px #727272;
    transition: 0.5s ease;
}

.project_card:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card_image {
    height: 12rem;
    width: 21.5rem;
    border-radius: 24px 24px 6px 6px;
    margin: 0px 4px;
    /* border: 2px solid aqua; */
}

.card_title {
    padding: 12px;
    padding-top: 24px;
    font-size: 1.72rem;
    /* padding-top: 32px; */
    /* font-size: 2rem; */
    font-family: sans-serif;
    /* border: 2px solid green; */
    text-align: center;
    margin-top: 16px;
    border-top: 2px solid #6665ee;
    /* color: #4c4f65; */
    color: rgb(36, 36, 36);
    /* color: #6665ee; */
}

.card_description {
    /* border: 2px solid red; */
    padding: 4px;
    height: 28%;
    line-height: 24px;
    color: rgb(34, 34, 34);
    /* color: #474747; */
    font-family: sans-serif;
    font-weight: 400;
    /* display: none; */
}

#analog_clock {
    width: 16rem;
}

#analog_clock .card_image {
    width: 13rem;
    height: 12rem;
    margin: 0 0.5rem;
    filter: brightness(1.2) saturate(1.3);
}

.coolbgproject {
    width: 42%;
    margin-left: 16px;
    filter: brightness(1.2) saturate(1.3);
}

#gym_landing_page .card_image {
    filter: brightness(1.2) saturate(1.3);
}

#tranparant_login_page .card_image {
    filter: brightness(1.2) saturate(1.3);
}

#lamborghini .card_image {
    filter: brightness(1.2) saturate(1.3);
}

#food_website .card_image {
    filter: saturate(1.2);
}

#experiences {
    height: auto;

}

#experiences_container {
    /* border: 2px solid black; */
    padding: 16px;
    position: relative;
}

.exp_bg h2 {
    text-align: center;
    margin: 12px auto;
    /* margin: 20.5rem 3rem; */
    font-size: 36px;
    border-bottom: 2px solid #4c4f65;
    width: 16rem;
    color: #363636;
    /* transition: 1s 0.3s ease; */
}

.exp_bg div h4 {
    padding: 24px;
    font-family: sans-serif;
    color: rgb(34, 34, 34);
    font-weight: 100;
    line-height: 28px;
    /* font-size: 0rem; */
    font-size: 1rem;
    /* border: 2px solid orange; */
}

.exp_bg div img {
    border-radius: 8px;
    height: 22rem;
    border: 1px solid #6665ee;
    /* box-shadow: -4px 4px 8px #727272; */
}

.left:hover {
    transform: scale(1.1) rotate(4deg) translateX(32px);
}

#formula_bharat {
    position: relative;
    top: 0rem;
    left: 0rem;
}

.fb .exp_bg {
    border-bottom: 24rem solid #bcbcbc;
    /* border-bottom: 24rem solid #9594ed; */
    border-left: 0rem solid transparent;
    border-right: 24rem solid transparent;
    width: 53rem;
    /* width: 24rem; */
    height: 0px;
    position: absolute;
    /* transition: 1s ease; */
}

.fb .exp_bg div h4 {
    padding: 16px;
    padding-top: 0;
}

.fb img {
    position: absolute;
    top: 1rem;
    left: 29rem;
    box-shadow: -4px 4px 8px #727272;
    /* width: 22rem; */
    /* top: 2rem; */
    /* left: 2rem; */
    /* width: 18rem; */
    transition: 0.4s ease;
}

#coursite {
    position: relative;
    top: 0rem;
    left: 29rem;
    margin-bottom: 6rem;
}

/* .coursite .exp_bg h2{
    position: fixed;
    top: 0rem;
    left: -22rem;
} */

.coursite .exp_bg {
    border-bottom: 24rem solid #bcbcbc;
    /* border-bottom: 24rem solid #9594ed; */
    border-right: 0rem solid transparent;
    border-left: 24rem solid transparent;
    width: 53rem;
    /* width: 24rem; */
    height: 0px;
    position: absolute;
    left: 0rem;
    /* transition: 1s ease; */
}

.coursite img {
    position: absolute;
    top: 1rem;
    right: 29rem;
    box-shadow: 4px 4px 8px #727272;
    /* width: 22rem; */
    /* top: 2rem;
    right: 2rem;
    width: 18rem; */
    transition: 0.4s ease;
}

.coursite img:hover {
    transform: scale(1.1) rotate(-4deg) translateX(-32px);
}

.extra_text {
    /* border: 2px solid red; */
    border-bottom: 6rem solid #bcbcbc;
    /* border-bottom: 24rem solid #9594ed; */
    border-right: 0rem solid transparent;
    border-left: 6rem solid transparent;
    width: 59rem;
    /* width: 30rem; */
    height: 0rem;
    margin-top: -12px;
    position: absolute;
    right: 0;
    font-family: sans-serif;
    font-size: 1rem;
    /* font-size: 0rem; */
    color: rgb(34, 34, 34);
    font-weight: 100;
    padding-left: 32px;
    /* display: none; */
    /* transition: 1s ease; */
}

#baja {
    position: relative;
    top: 0rem;
    left: 0rem;
}

.baja .exp_bg {
    border-bottom: 24rem solid #bcbcbc;
    /* border-bottom: 24rem solid #9594ed; */
    border-left: 0rem solid transparent;
    border-right: 24rem solid transparent;
    /* width: 53rem; */
    /* width: 24rem; */
    height: 0px;
    position: absolute;
}

.baja img {
    position: absolute;
    top: 1rem;
    left: 29rem;
    box-shadow: -4px 4px 8px #727272;
    /* width: 22rem; */
    transition: 0.4s ease;
}

#baja .exp_bg div h4 {
    width: 29rem;
}

.experience {
    /* border: 2px solid red; */
    width: 28rem;
    height: 28rem;
}

footer {
    font-weight: 600;
    /* border: 2px solid; */
    text-align: center;
    /* background-color: #9a9a9a; */
    /* border-radius: 12px; */
    padding: 0.5rem;
    font-size: 18px;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

footer a:hover {
    color: rgb(69, 69, 69);
}

@media (max-width : 1500px) {
    #leftfader {
        opacity: 0;
    }

    #rightfader {
        opacity: 0;
    }
}

@media (min-width : 0px) and (max-width : 420px) {
    #left-bar ul {
        /* background-color: red; */
        display: none;
    }

    #clock {
        display: none;
    }

    .container {
        width: 50rem;
    }

    #main {
        width: 0;
    }

    .page {
        padding: 0;
        margin: 0;
        width: 41rem;
        overflow-x: hidden;
    }

    .page h1 {
        margin-top: 24px;
        font-size: 56px;
    }

    #content {
        width: 42rem;
    }

    #centre {
        width: 45rem;
    }

    #right_resume {
        display: block;
    }

    #landing_page::before {
        top: 0;
        left: -11rem;
        opacity: 1;
    }

    #main_name {
        top: 19.6rem;
        left: 1rem;
        font-size: 56px;
    }

    #typing_text {
        top: 40rem;
        left: 16rem;
    }

    #student_detaill {
        top: 44rem;
        left: 0;
        width: 100%;
    }

    #skills {
        padding: 2rem 0;
    }

    .skillset {
        width: 14rem;
    }

    .skillset h2 {
        width: fit-content;
    }

    .skillset div {
        padding: 2px 6px;
    }

    .skillset div h4 {
        margin: 12px 4px;
    }

    #programming {
        width: 16rem;
        padding: 0 12px;
    }

    .division {
        width: 4px;
        height: 38rem;
    }

    #experiences {
        height: 164rem;
    }

    #experiences_container {
        padding: 0;
        height: 86%;
    }

    .experience {
        height: 46rem;
        width: 41rem;
        margin-bottom: 4rem;
    }

    .fb .exp_bg {
        border-bottom: 0rem solid red;
        border-bottom: 0rem solid #9594ed;
        border-left: 0rem solid transparent;
        border-right: 24rem solid transparent;
        width: 65rem;
    }

    .exp_bg h2 {
        font-size: 52px;
        width: 72%;
    }

    .exp_bg div h4 {
        padding: 16px;
        margin-top: 21rem;
        font-size: 1.45rem;
        border-bottom: 2px solid black;
        border-radius: 16px;
    }

    .exp_bg div img {
        top: 5rem;
        left: 18%;
        height: 20rem;
    }

    #coursite {
        left: 0;
        height: 46rem;
    }

    .coursite .exp_bg {
        border-bottom: 0rem solid red;
        border-bottom: 0rem solid #9594ed;
        border-left: 0rem solid transparent;
        border-right: 24rem solid transparent;
        width: 65rem;
    }

    .extra_text {
        display: none;
    }

    .baja .exp_bg {
        border-bottom: 0rem solid red;
        border-bottom: 0rem solid #9594ed;
        border-left: 0rem solid transparent;
        border-right: 24rem solid transparent;
        width: 65rem;
    }
    #baja .exp_bg div h4{
        width: auto;
    }

    .theme_changer{
        top: 5vh;
        right: -8vw;
        transform: scale(1.4);
    }
    .dark_theme_changer{
        top: 5vh;
        right: -8vw;
        transform: scale(1.4);
    }
}